<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkdutton.superduperimageduper" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NewImageReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_PICTURE" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mkdutton.superduperimageduper.ACTION_DELETE_NEW" />
            </intent-filter>
        </receiver>

        <service
            android:name=".CopyService"
            android:exported="false" />


    </application>

</manifest>
